
  <img>
  <div>Recipe Name</div>







  <!-- <div>
      <div ng-app="myApp" ng-controller="myCtrl">
    
      <p>Manage Recipe:</p>
    
      <select ng-model="selectedrecipe" ng-options="y.list for (x, y) in recipes">
      </select>
    
      <h1>You selected: {{selectedrecipe.list}}</h1>
      <h2>edit: {{selectedrecipe.edit}}</h2>
      <h3>delete: {{selectedrecipe.delete}}</h3>
    
      </div>
    
      <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
        $scope.recipes = {
          car01 : {list : "To Shopping List", edit : "Mustang", delete : "red"},
          car02 : {list : "Edit Recipe", edit : "500", delete : "white"},
          car03 : {list : "Delete Recipe", edit : "XC90", delete : "black"}
        }
      });
      </script>
    </div>
-->

<div>Description</div>

<div>Ingredients</div>



